DB_URL=jdbc:postgresql://postgres:5432/trading_demo
DB_USERNAME=trading_demo
DB_PASSWORD=change_me
WAREHOUSE_DB_URL=jdbc:postgresql://trading-dw-postgres:5432/trading_dw
WAREHOUSE_DB_USERNAME=trading_dw
WAREHOUSE_DB_PASSWORD=change_me
KAFKA_BOOTSTRAP_SERVERS=trading-kafka:9092
AUTH_MODE=jwt
AUTH_VALIDATION_URL=http://CHANGE_ME_AUTH_HOST:3001/api/v1/auth/validate
